#trump {
    width: 50%;
    height: 80%;
    object-fit: cover;
    border-radius: 500px;
    
}

body {
    background-image: url(https://wallpapercave.com/wp/wp9378806.jpg);
}

.menu {
    background-color: #010D26;

    width: 42%;
    height: 80%;

    border-radius: 10px;

    position: absolute;
    left: 58%
}

.ms {
    border-style: solid;
    border-width: 3px;
    border-color: #061635;
    width: 350px;
    position: relative;
    left: 5%
}

.msH1 {
    font-family: helvetica;
    font-weight: 1000;
    color: rgb(142, 157, 199);
}

.msH3 {
    font-family: helvetica;
    font-weight: bold;
    color: rgb(255, 255, 255);
}